*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times ;
}

body{
    height: 100%;
}
.menu-btn{
    color: rgb(177, 175, 173);
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.navbar{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0%;
    z-index: 900;
    background-color:rgba(239, 232, 232, 0.963) ;
    box-shadow: black;
}

.navbar .logo h1{
    color: rgb(121, 57, 180);
    border-bottom: 5px solid rgb(213, 128, 120);
    
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    display: block;
    margin-left: 15px;
    color: rgb(121, 57, 180);
    border-bottom: 4px solid transparent;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
 
/* .navbar .menu li .active {
    border-bottom: 4px solid rgb(209, 126, 224);
} */


.navbar .menu li a i{
    color: rgb(121, 57, 180);
}

.navbar .menu li a:hover{
    border-bottom: 4px solid rgb(209, 126, 224);
}

.content{
    background-image:url(pic11.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 3%;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: flex-start;
    color: rgb(121, 57, 180);
    height: 110vh;
}

.content h1{
    font-size: 55px;
}

.content p{
    font-size: 35px;
    margin-top: 10px;
}

.content button{
    margin-top: 40px;
    padding: 10px 15px;
    border: none;
    background: rgb(130, 67, 189);
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: Arial;
    border-radius: 10px;
    cursor: pointer;

}

.content button:hover{
    cursor: pointer;
    background-color: rgb(112, 36, 183);
    color: white;
}

.banner{
    margin-top: 100px;
    display:grid;
    gap: 1.5rem;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px,auto))
}

.banner-img{
    overflow: hidden;
}

.banner-img img{
    width: 100%;
    cursor: pointer;
    transition: 0.5s ;
    display: block;
}

.banner-img:hover img{
    transform: scale(1.1);
}

.pheading{
    font-family: 'Gill Sans';
    font-size: 50px ;
    text-align: center;
    margin: 50px 0;
    color: rgb(113, 58, 169);
}

.sec{
    padding: 10px 5%;
}

.items{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}

.items .card{
    width: 300px;
    background: rgb(212, 202, 225);
    box-shadow: 0 10px 20px rgba(36, 4, 57, 0.3);
    border: 5px;
    padding: 5px;
    margin-bottom:20px ;
}

/* .items .card .desc{
    padding: 5px 20px;
    opacity: 0.8; */
/* } */
.items .card img{
    height: 250px;
    width: 100%;
}

.items .card .title{
    font-size: 28px;
    font-weight: 800;
    color: rgb(121, 57, 180);
    padding: 0 20px;
}

.items .card .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.items .card .box .price{
    color: rgb(121, 57, 180);
    font-size: 25px;
    font-weight: bold;
}

.items .card .box .btn{
    font-size: 13px;
    color: rgb(121, 57, 180);
    padding: 10px 18px;
    font-weight: 900;
    border: 1px solid rgb(236, 229, 220);
    border-radius: 20px;
}

.items .card .box .btn:hover{
    cursor: pointer;
    background-color: rgb(121, 57, 180);
    color: white;
}

.items .card:hover{
    cursor: pointer;
    background-color: rgb(187, 161, 205);
    color: white;
}

.items .card .img:hover img{
    transform: scale(1.1);
}

.contacts{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,auto));
    align-items: center;
    gap: 2.5rem;
    background: rgb(238, 216, 238);
}


.contact-box h3{
    margin-bottom: .5 rem;
    color: rgb(121, 57, 180);
    font-size: 20px;
}

.contact-box h2{
    color: rgb(121, 34, 164);
}

.contact-box h4{
    color: rgb(118, 25, 158);
}